*,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .menu {
        background:  #78ffd6;
        /* border-radius: 50%; */
        width: 10%;
        height: 8.9%;
        position: fixed;
        top: 0;
        left: 0;
        border: 1px solid red;
    }

    .hamburguer {
        border: 1px solid red;
        position: relative;
        display: block;
        background: #000;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .hamburguer:before,
    .hamburguer:after {
        background: #000;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

    input[type=checkbox] {
        display: none;
    }

    input:checked ~ label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked ~ label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }

    .menu {
        cursor: pointer;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        transition: box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    }
    
    .menu:hover {
        box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
    }
  
    input:checked ~ label .menu {
        background-image: linear-gradient(to left, #a8ff78, #78ffd6); 
        box-shadow: 0 0 0 50vw  #78ffd6, 0 0 0 50vh #78ffd6;
    }
 
    input:checked ~ ul {
        opacity: 1;
    }

    ul {
        position: absolute;
        top: 20%;
        left: 5%;
        /* transform: translate(-50%, -50%); */
        list-style: none;
        font-size: 30px;
        opacity: 0;
        transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
        z-index: 2;
    }
    
    a {
        color: #00cec9;
        display: block;
        /* margin-bottom: 1em; */
        text-decoration: none;
    }

    .sidenav img {
        max-width: 5%;
        height: auto;
        position:relative;
        left:0%;
        top:20%;
      
      }

.sidenav {
    border: 1px solid red;
    height: 10%;
    max-width: 100%;
    z-index: 1;
    position:relative;
    left:5%;
    top:20%;
    background-image: linear-gradient(to left, #a8ff78, #78ffd6);
    overflow-x: hidden;

}

input[type=text], select {
    width: 500px;
    height:30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {

    background-image: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: walknegrito;
    font-size: 20px;
    }

.pesquisa{
    /* float: right; */
    border: 1px solid red;
    position: relative;
    /* margin: 50%; */
    padding: 2em 40em;
    /* text-align: center; */
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}