.button {

  background-image: linear-gradient(to right, #bdc3c7, #2c3e50); 
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sombra:hover {box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

label{font-family: walknegrito;font-size: 20px;}


p.round1 {
  border: 2px solid red;
  border-radius: 5px;
}

/*form {
  width: 0%;
  margin: auto;
}*/

input[type=text], select {
  width: 500px;
  height:30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 500px;
  height:30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {

  background-image: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: walknegrito;
  font-size: 20px;
  }


  input[type=submit]:hover {
    background-color: #bdc3c7;
  }


.sidenav {
  height: 100%;
  max-width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #bdc3c7, #2c3e50); 
  overflow-x: hidden;
}

@font-face {
  font-family: myFirstFont;
  src: url(Walkway_Oblique.ttf);
}

@font-face {
  font-family: walknegrito;
  src: url(Walkway_Bold.ttf);
}

.content {
  margin-left: 50%;
  margin-top: 10%;
  background-color: white;
  font-family: myFirstFont;
}
.sidenav img {
  max-width: 30%;
  height: auto;
  position:relative;
  left:35%;
  top:30%;

}



