<!DOCTYPE html>
<html>
<!-- Início do cabeçalho -->
	<head>
		
		<title>Cadastro</title>
		<meta charset="utf-8">
		
		<!-- Linkando as tag a pasta css que conterá os estilos.css -->
		<link rel="stylesheet" type='text/css' href="component/css/style.css"/>
	</head>

<!-- Fim do cabeçalho -->

<!-- Início do corpo -->
	<body>	

		<div class="sidenav">
			<img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
  		</div>

  		<div class="content">
	  		<h1>Cadastro Professor</h1>
			
	    	<form action="/action_page.php" class="form">
	     		<label>Nome:</label><br>
				<input type="text" name="nome"><br>
	            <label>Senha:</label><br>
	      		<input type="password" name="senha"><br>
				<label>Email:</label><br>
				<input type="text" name="email"><br>
	            <label>Titulação:</label><br>
	            <input type="text" name="titulacao"><br>
	            <label>Instituição:</label><br>
				<input type="text" name="instituicao"><br>
				<label>Área de Pesquisa:</label><br>
				<input type="text" name="areaPesquisa"><br><br>
				<input type="submit" class="sombra "value="Cadastrar">
				
			</form>
		</div>
		
		
	</body>
<!-- Fim do corpo -->

</html>