<!DOCTYPE html>
<html>

<head>
    <title>Eventos</title>
    <meta charset="utf-8">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type='text/css' href="view/component/css/styleVerEvento.css">
    
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../presenter/JavaScript/linkBDEvent.js"></script>
</head>

<body>
        <div class="content2 ">
                <p id="output"><span></span></p>
           
        </div>
</body>