<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="view/component/css/styleHome.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../presenter/JavaScript/linkBDAluno.js"></script>


</head>

<body>

    <body>
        <header>
            <div class="menu-header">
                <input id="menu-hamburguer" type="checkbox">
                <label for="menu-hamburguer">
                    <div class="menu">
                        <span class="hamburguer"></span>
                    </div>
                </label>
                <ul>
                    <li><a href=''>Home</a></li>
                    <li><a href="editarCadastroP">Editar cadastro</a></li>
                    <li><a href='subArtigo'>Submeter artigo</a></li>
                    <li><a href='#'>Revisar Artigos</a></li>
                    <li><a href='#'>Lista de artigos</a></li>
                </ul>
            </div>
            <div class="sidenav">
                <img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
            </div>
            <form action="/tonarAdmin" method="POST" class="tonar-admin">
                <input type="submit" class="sombra " value="Tornar-se Admin">
            </form>

        </header>

        <form class="pesquisa">
            <input type="text" name="pesquisa" placeholder="Digite o nome do artigo:" />
            <input type="submit" value="Pesquisar">
        </form>

        <div class="content ">
            <h1>Eventos</h1>
        </div>

        <div class="content2 ">
            <p id="output"><span></span></p>
        </div>

    </body>

</html>