<!DOCTYPE html>
	<html>
	<head>
		<title>Home</title>

		<meta charset="utf-8">			
		
		<link rel="stylesheet" href="component/css/style.css">
	</head>

	<body>
		<div class="header">Conteudo fica aqui</div>

		<div id="area-menu">
			<a href=#>Home</a>
			<a href=#>Ver lista de artigos</a>
			<a href=#>Submeter</a>
			<a href=#>Visualizar lista de eventos</a>
			<form>	
				<input type="text" name="search" placeholder="Pesquisar evento" required><br>
				<input type="submit" class="sombra" value="Pesquisar">
			</form>
	</div>
	</body>
</html>