<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="view/component/css/styleHome.css">
</head>

<body>

    <body>
        <div class="sidenav">
            <img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
        </div>

        <input id="menu-hamburguer" type="checkbox">
        <label for="menu-hamburguer">
            <div class="menu">
                <span class="hamburguer"></span>
            </div>
        </label>


        <ul>
            <li><a href='#'>Home</a></li>
            <li><a href='#'>About</a></li>
            <li><a href='#'>Work</a></li>
        </ul>
    </body>

</html>