<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="view/component/css/styleHome.css">


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../presenter/JavaScript/linkBDAluno.js"></script>
</head>

<body>
    <header>
        <div class="menu-header">
            <input id="menu-hamburguer" type="checkbox">
            <label for="menu-hamburguer">
                <div class="menu">
                    <span class="hamburguer"></span>
                </div>
            </label>
            <ul>
                <li><a href=''>Home</a></li>
                <li><a href="editarCadastroA">Editar cadastro</a></li>
                <li><a href='subArtigo'>Submeter artigo</a></li>
                <li><a href='#'>Lista de artigos</a></li>
            </ul>
        </div>
        <div class="sidenav">
            <img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
        </div>

        <form class="pesquisa">
            <input type="text" name="pesquisa" placeholder="Digite o nome do artigo:" />
            <input type="submit" value="Pesquisar">
        </form>

        <p>Minha data: <span></span></p>

        <thead>
            <tr>
                <th>Nome</th>
                <th>Peso(kg)</th>
                <th>Altura(m)</th>
                <th>Gordura Corporal(%)</th>
                <th>IMC</th>
            </tr>
        </thead>
        <tbody id="tabela-pacientes">
            <tr class="paciente" id="primeiro-paciente">
                <td ></td>
            </tr>
        </tbody>
    </header>

</body>

</html>