<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="view/component/css/styleHome.css">

</head>

<body>

    <body>
        <header>
            <div class="menu-header">
                <input id="menu-hamburguer" type="checkbox">
                <label for="menu-hamburguer">
                    <div class="menu">
                        <span class="hamburguer"></span>
                    </div>
                </label>
                <ul>
                    <li><a href=''>Home</a></li>
                    <li><a href="editarCadastroA">Editar cadastro</a></li>
                    <li><a href='#'>Submeter artigo</a></li>
                    <li><a href='#'>Lista de artigos</a></li>
                </ul>
            </div>
            <div class="sidenav">
                <img src="../resources/imagens/icone_artigo.png" alt="Articles Center">


            </div>

            <form class="pesquisa">
                <input type="text" name="pesquisa" placeholder="Digite o nome do artigo:" />
                <input type="submit" value="Pesquisar">
            </form>
        </header>

        <main>
            <h2>Meus pacientes</h2>
            <label for="filtrar-tabela">Filtre:</label>
            <input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o nome do paciente">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Peso(kg)</th>
                        <th>Altura(m)</th>
                        <th>Gordura Corporal(%)</th>
                        <th>IMC</th>
                    </tr>
                </thead>
                <tbody id="tabela-pacientes">
                    <tr class="paciente" id="primeiro-paciente">
                        <td class="info-nome">Paulo</td>
                        <td class="info-peso">100</td>
                        <td class="info-altura">2.00</td>
                        <td class="info-gordura">10</td>
                        <td class="info-imc">0</td>
                    </tr>

                    <tr class="paciente">
                        <td class="info-nome">João</td>
                        <td class="info-peso">80</td>
                        <td class="info-altura">1.72</td>
                        <td class="info-gordura">40</td>
                        <td class="info-imc">0</td>
                    </tr>

                    <tr class="paciente">
                        <td class="info-nome">Erica</td>
                        <td class="info-peso">54</td>
                        <td class="info-altura">1.64</td>
                        <td class="info-gordura">14</td>
                        <td class="info-imc">0</td>
                    </tr>

                    <tr class="paciente">
                        <td class="info-nome">Douglas</td>
                        <td class="info-peso">85</td>
                        <td class="info-altura">1.73</td>
                        <td class="info-gordura">24</td>
                        <td class="info-imc">0</td>
                    </tr>
                </tbody>
        </main>


    </body>

</html>