<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="view/component/css/styleHome.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../presenter/JavaScript/linkBDAluno.js"></script>


</head>

<body>

    <body>
        <header>
            <div class="menu-header">
                <input id="menu-hamburguer" type="checkbox">
                <label for="menu-hamburguer">
                    <div class="menu">
                        <span class="hamburguer"></span>
                    </div>
                </label>
                <ul>
                    <li><a href=''>Home</a></li><br>
                    <li><a href="editarCadastroP">Editar cadastro</a></li><br>
                    <li><a href='subArtigo'>Submeter artigo</a></li><br>
                    <li><a href='#'>Revisar Artigos</a></li><br>
                    <li><a href='#'>Lista de artigos</a></li>
                </ul>
            </div>
            <div class="sidenav">
                <img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
            </div>
            <br>
            <form action="/tonarAdmin" method="POST" class="tonar-admin">
                <input type="submit" class="sombra " value="Tornar-se Admin">
            </form>

        </header>

    <div class="content ">
        <h1>Eventos</h1>
        
    </div>

        <div class="content2 ">
            <p id="output"><span></span></p>
        </div>
        <div class="content4">
            <form action="searchEvent" method="POST">
                <input type="text" name="nome" placeholder="Digite o nome do evento:" />   
                <div class="content3"><input type="submit" class="sombra " value="Pesquisar"></div> 
            </form>
        </div>
    
            

    </body>

</html>