<!DOCTYPE html>
<html>
<!-- Início do cabeçalho -->

<head>
	<title>Cadastro</title>
	<meta charset="utf-8">

    <!-- Linkando as tagas a pasta css que conterá os estilos.css -->
		<link rel="stylesheet" type='text/css' href="view/component/css/styleIndicarRev.css">
		<link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
</head>

<!-- Fim do cabeçalho -->

<!-- Início do corpo -->

<body>

	<div class="sidenav">
		<img src="../resources/imagens/icone_artigo.png" alt="Articles Center">
	</div>

	<div class="content">
		<h1>Indicar Revisor</h1>

		<form action="indicarRC" method="POST" class="form">
			<label>Professor nome:</label><br>
			<input type="text" name="nome" value="" required><br>
			<label>Professor email:</label><br>
			<input type="text" name="emailProfessor" value="" required><br>
			<label>Conferencia:</label><br>
			<input type="text" name="idEvento" value=""><br>
			<input type="submit" class="sombra " value="Indicar">
		</form>
	</div>

	<br>

</body>
<!-- Fim do corpo -->

</html>