<!DOCTYPE html>
<html>

<head>
    <title>Lista Artigos</title>
    <meta charset="utf-8">
    <link rel="icon" href="resources/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type='text/css' href="view/component/css/styleVerArtigo.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../presenter/JavaScript/linkBDVerArtigo.js"></script>
    

</head>

<body>
    <div class="sidenav">
        <img src="resources/imagens/icone_artigo.png" alt="Articles Center">
    </div>
    <div class="content ">
        <h1>Meus Artigos</h1>
    </div>

    <div class="content2 ">
            <p id="output"><span></span></p>
       
    </div>

</body>

</html>